<<<<<<< HEAD
body {
	font-family: klavika, arvo, "Helvetica neue", serif;
	font-size: 16px;
}

.navbar {
	background-color: transparent;
	border: none;
	margin-bottom: 0px;
	padding-top: 10px;
}

.navbar img {
	width: 90%;
	max-width: 353px;
}

.navbar-inverse .navbar-nav li a {
	color: #fefefe;
	opacity: .7;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 10px;
}

.jumbotron {
	background: url('../img/background.jpg') no-repeat center center;
	background-size: cover;
	padding-top: 170px;
	padding-bottom: 170px;
	border-top: 3px solid #e74c3c;
	margin-top: -65px;
	margin-bottom: 0px;
}

.jumbotron h1 {
	font-family: klavika, arvo, "Helvetica neue", serif;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600px;
	font-size: 50px;
	color: white;
	background-color:rgba(0,0,0,.1);
	text-shadow:2px 1px 2px #333;
}

.highlight {
	color: #e74c3c;
}

#bottom-section .col-sm-4 {
	min-height: 300px;	
	background-size: 100%; 
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 20%;
}

#bottom-section .col-sm-4 p {
	color: white;
	background-size: 90%;
	font-weight: 100;
	margin-bottom: 10px;
}

#bottom-section .col-sm-4 .btn-success {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 100;
}

 #bottom-section .col-sm-4:hover {
	opacity: .9;
}

#bottom-section a:hover {
	text-decoration: none;
}

#byfw {
	background-image: url(../img/byfw.jpg);
	background-color: #e74c3c;
}

#baw {
	background-image: url(../img/baw.png);
	background-color: #f39c12;
}

#oml {
	background-image: url(../img/oml.jpg);
	background-color: #f1c40f;
}

footer {
	background-color: #333;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fefefe;
}

footer p {
	margin-top: 5px;
}

footer a {
	color: #ccc
}



.right-aling {
	text-align: right;
}

/* Universal styling */

@media (max-width: 768px) { 
	#bottom-section .col-sm-4 {
		min-height: 425px;
		padding-top: 55%;
		padding-bottom: 5px;
	}
	.jumbotron{
		margin-top: -186px;
		padding-top: 210px;
		padding-bottom: 90px;
	}
	.jumbotron h1 {
		font-size: 25px;
	}

	.navbar-brand {
		width: 50%
	}
	.navbar-brand img {
		width: 220px;
	}
	.navbar-inverse .navbar-nav {
		border: none;
	}
=======
* {
	margin: 0 auto 0 auto;
	text-align: left;
}

body {
	margin:0;
	padding:0;
	text-align:left;
	font-family: arial, helvetica, sens-serif;
	color: #000000;
	background-color: #1c478c;
	background-image: url(../img/background.png);
	background-repeat: repeat-x;
}

#container {
	width: 960px;
}

#header {
	width: 960px;
	height: 85px;
}

#header h1 {
	color: #ffffff;
	padding: 20px 0 0 20px;
	float: left;
	font-size: 43;
}

#header h2 {
	float: right;
	color: #A9D1FA;
	padding: 40px 20px 0 0;
}

.blue-text {
	color: #67A0F5;
}

.white-text {
	color: white;
}

#menu {
	display: block;
	float: left;
	clear: both;
	width: 960px;
	height: 54px;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin-left: 13px;
	width: 960px;
	padding-top: 18px;
}

#menu li {
	list-style: none;
	padding: 0;
	display: inline;
	padding-right:13px ;

}

#menu a {
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#left-menu {
	margin-top: 15px;
	width: 190px;
	float: left;
	background-color: #1C478E;
	border-radius: 10px;
	padding: 15px 20px 10px 10px;
}

#left-menu h3 {
	color: white;
	padding-bottom: 8px;
	border-bottom: white 2px solid;
	font-size: 16px;
}

#left-menu ul {
	list-style: none;
	padding: 0;
}

#left-menu li {
	list-style: none;
	padding: 15px 0 8px 0;
	border-bottom: 1px dashed white;
}

#left-menu a, #left-menu a:visited {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
}

#content {
	margin-top: 15px;
	display: block;
	width: 680px;
	float: left;
	background-color: #fff;
	border-radius: 10px;
	border: solid 6px #1C478E;
	margin-left: 15px;
	padding: 15px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0 10px 0;
	color: #1C478E
}

h4 {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 7px;
	color: #1C478E
}

#content h2 {
	padding-bottom: 10px;
}

#content p {
	font-size: 13px;
}

.float {
	float: right;
	margin: 15px;
}

.developer {
	width: 170px;
	float: right;
}

.developer ul {
	margin-bottom: 10px;
	padding: 0
}

.developer li {
	list-style-type: none;
	text-decoration: none;
	text-align: left;
	padding: 0;
	line-height: 1.7em;
	font-size: 13px;
}

.developer a {

>>>>>>> 1a0d899de14a82b4bd04aa0fbb489256611aa621
}