@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

#header-content {
    width: 100%;
    position: fixed;
    top: 0px;
}

#header-menu {
    width: 900px;
    margin: 0 auto;
    height: 40px;
    background-color: #ecf0f1;
    border-left: 1px solid #e2e8ea;
    border-right: 1px solid #e2e8ea;
    border-bottom: 1px solid #e2e8ea;
}


#logo {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    float: left;
    padding: 3px;
    margin: 3px 0 0 5px;
    font-weight: bold;
    color: #3b3b3b;
}

#header-menu ul {
    float: right;
    margin-top: 10px;
}

#header-menu a {
    text-decoration: none;
    color: #4c4c4c;
}

#header-menu li {
    display: inline;
    padding: 3px;
    margin: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    list-style-type: none;
    text-transform: uppercase;
    text-shadow: 0.0425em 0.0425em #cbcbcb; 
}

#header-menu li a:hover {
    
    color: #767676;
}

.main-width {
    width: 900px;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
}

.home-image{
    height: 409px;
}

.home-image img {
    width: 900px;
}

.servicii {
    margin-top: 10px;
    height: 300px;
    text-align: center;
    padding: 20px 30px;
    width: 300px;
    margin: 0 auto;
}

.portofoiu {
    margin: 10px 0 0 0;
    height: auto;
}

.portofoiu li {
   
    list-style-type: none;
    display: inline;
    padding: 2px;
}

.portofoiu img {
    width: 200px;
    height: 150px;
}

.despre {
    margin-top: 10px;
    height: 200px;
   
    padding: 20px 30px;
    font-size: 13px;
    text-align: center;
    
}

.contact {
    height: 100px;
    margin-top: 10px;
    text-align: center;
    padding-top: 50px;
}


























