@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

#header-content {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}

#header-menu {
    width: 900px;
    margin: 0 auto;
    height: 40px;
    background-color: #ecf0f1;
    border-left: 1px solid #e2e8ea;
    border-right: 1px solid #e2e8ea;
    border-bottom: 1px solid #e2e8ea;
}


#logo {
    font-size: 19px;
    font-family: "Open Sans";
    float: left;
    padding: 3px;
    margin: 5px 0 0 5px;
    font-weight: bold;
    color: #3b3b3b;
}

#header-menu ul {
    float: right;
    margin-top: 10px;
}

#header-menu a {
    text-decoration: none;
    color: #4c4c4c;
}

#header-menu li {
    display: inline;
    padding: 3px;
    margin: 3px;
    font-family: "Open Sans";
    font-size: 15px;
    list-style-type: none;
    text-transform: uppercase;
    text-shadow: 0.0425em 0.0425em #cbcbcb; 
}

#header-menu li a:hover {
    
    color: #767676;
}

.main-width {
    width: 900px;
    margin: 0 auto;
    height: auto;
    margin-top: 50px;
}

.home-slider{
    height: 409px;
}

.home-image img {
    width: 900px;
}

.servicii {
    margin-top: 10px;
    height: auto;
    text-align: center;
    padding: 20px 30px;
    width: auto;
    margin: 0 auto;
    padding-left: 70px;
}

.servicii h3 {
    font-family: "Open Sans";
    font-size: 23px;
    color: #4c4c4c;
    padding: 15px 0;
    text-align: center;
    
}

.servicii ul {
    margin-bottom: 15px;
}

.servicii li {
    list-style: none; 
    padding: 9px 0 0 0;
    font-family: "Open Sans";
    color: #50676c;
    text-align: center;
}

.liste {
    float: left;
    width:250px;
}

.liste li h4 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 7px;
    font-family: "Open Sans";
    color: #4c4c4c;
}

.oferte {
    width: auto;
    float: left;
    text-align: left;
    padding: 20px 0;
    font-family: "Open Sans";
    color: #50676c;
}



.oferte p {
    padding: -2px 0 0 0;
    font-size: 15px;
}

.portofoliu {
    margin: 10px 0 0 0;
    height: auto;
}

.portofoliu ul {
    float: left;
    width: 200px;
    height: 150px;
    padding: 0px 10px;
    margin-bottom: 45px;
    list-style-type: none;
}

.portofoiu li {
   
    list-style-type: none;
    display: inline;
    padding: 2px;
}

.portofoliu img {
    width: 200px;
    height: 150px;
}

.titlu-lucrari {
    text-align: center;
    margin-top: -15px;
    font-family: "Open Sans";
    color: #50676c;
}

.despre {
    font-family: "Open Sans";
    padding: 20px 30px;
    font-size: 16px;
    text-align: center;
    color: #50676c;
    padding-top: 0;
}

.despre p {
    text-align: center;
    padding: 5px 0;
    font-size: 25px;
    font-family: "Open Sans";
    font-weight: 400;
}

.contact {
    height: 100px;
    text-align: center;
    padding-bottom: 60px;
    font-family: "Open Sans";
    color: #50676c;
}

.contact p {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 7px;
    font-family: "Open Sans";
    color: #4c4c4c;
}

.hr {
    width: 100%;
    margin: 70px 0;
    color: #ecf0f1;
}


.titlu {
    font-family: "Open Sans";
    font-size: 25px;
    color: #4c4c4c;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 10px;
}

.hr-servicii {
   margin-top: 50px;
   visibility:hidden;
   padding-top: 10px;
}

footer p {
    float: right;
    color: #50676c;
    font-size: 16px;
    margin-left: 50px;
}

.red {
    color: #e6436b;
}

.link {
    color: #e22553;
    text-decoration: none;
}

.link:hover {
    color: #ea6183;
}


@media only screen and (max-width: 	320px) {
    /* For mobile phones: */
    
    #header-content {
    width: 320px;
    margin: 0 auto;
    height: auto;
    position: absolute;
    background-color: #ecf0f1;
        
}
    #header-menu {
       float: left;
        height: auto;
        background-color: #ecf0f1;
        width: 320px;
    }
    
    #logo {
        font-size: 17px;
        width: 320px;
        margin: 0 auto;
        margin-left: 19px;
    }
    
    
    #header-menu li {
       
        float: left;
        width: 320px;
        text-align: center;
        font-size: 14px;
    }

    
    .home-slider {
        visibility: hidden;
        margin-bottom: -390px;
    }
    
    .main-width{
        width: 320px;
    }
    
    .servicii {
        margin: 0 auto;
    }
    
    .servicii h3 {
        text-align: center;
        margin-left: -55px;
        font-size: 19px;
    }
    
    .servicii ul {
       width: 320px;
       margin: 0 auto;
       margin-left: -75px;
        font-size: 14px;
    }
    
    .portofoliu {
        width: 320px;
        margin-top: -60px;
    }
    
    .portofoliu ul {
        margin: 0 auto;
        margin: 10px 10px 34px 50px;
        list-style-type: none;
    }
    
    .titlu-lucrari {
        padding-top: 16px; 
    }
    
    .despre {
        margin-top: -60px;
        margin-bottom: -40px;
    }
    
    .despre p {
        font-size: 14px;
    }
    
    .contact {
        margin-top: -60px;
        margin-bottom: -30px;
    }
    
    .contact p {
        font-size: 14px;
    }
    
    footer p {
        font-size: 14px;
        float: left;
        margin-left: 35px;
    }
    
    .titlu {
        font-size: 19px;
        margin: 0 0;
    }
}



































